.aboutUs{
    width: 100%;

}
.aboutMePicture {
    width: 180px;
    height: 250px;

}

.aboutMeTable{
    width:100%;
    padding:10px
}

.aboutMeTable td{
    width:50%
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height:220px;
    box-sizing: border-box;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    box-sizing: border-box;
}


 @media only screen and (min-width :700px){
    .imgLogo {
        float: left;
        margin-right: 10px;
    }
 }





