.mainTable{
    width:100%
}

.mainTable td.firstColumn {
    width: 30%;
    border-right: 1px solid green;
    height: auto;
}


.mainTable td.secondColumn {
    width: 70%;
    
   
}

td[rowspan] {
    vertical-align: top;
    text-align: left;
}

.table1 {
    border-collapse: collapse;
    margin-left: 20px;
}

.inputBox {
    background: #e5ebf4;
}

.rightColumn input {
    border: none;
    border-bottom: 1px solid black;
    width: 35%;
    height: 30px
}

    .table1 td.leftColumn {
        width: 20%;
        border: 1px solid black;
    }

    .table1 td.rightColumn {
        width: 50%;
        padding: 10px;
        padding-right: 20px;
        border: 1px solid black;
    }

    .table1 td.validationColumn {
        width: 30%
    }

.btnCalculate {
    margin-left: 20px;
    padding: 2px 5px;
    border: 0;
    border-radius: 0.1875em;
    background-color: #000000;
    box-shadow: none;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    white-space: nowrap;
    cursor: pointer;
}

.button {
    width:25%;
    padding-left:25%
}

.vl {
    border-right: 1px solid green;
    height: auto;
}