

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.btnCalculate {
    padding: 2px 5px;
    border: 0;
    border-radius: 0.1875em;
    background-color: #000000;
    box-shadow: none;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    white-space: nowrap;
    cursor: pointer;
}

.button {
    width:25%;
    padding-left:25%
}

