.caloriesTable {
    width:100%;
}

.caloriesTable td {
    width: 50%;
}

.btnInfo {
    background-color: #1c87c9;
    border: none;
    color: white;   
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
}

    .btnInfo:hover {
        background-color:darkslateblue
    }

.caloriesSection {
    background: #e5ebf4;
    padding-top:60px;
    margin: -57px -0.55% 0px -0.55%;
    padding-bottom: 50px;
}
.aCalSection {
    background: #282828;
    padding-top: 30px;
    margin: 0px -0.55% 0px -0.55%;
    padding-bottom: 70px;
    color:lightgray;
}

#resultContainer {
    width: 49.5%;
    height: 350px;
    background-color: black;
    color: white;
    margin: 0 auto 0 auto;
    border: 5px inset lightgray;
}

.caloriesHeader {
    text-align: center;
    height: 55px; 
    margin-top:-0.55%;
}
.ddl {
    width:50%;
    height:50px;
}

.inputForm {
    margin: 50px auto 100px auto;
    width: 50%;
    border: 1px solid black;
}
    .inputForm th {
        border-bottom: 1px solid black;
        background-color: black;
        color: white;
        font-size: 18px;
    }

.txtWeight {
    border: none;
    border-bottom: 1px solid black;
    width:35%
    ;height:30px;
}

#inputForm td{
    width: 50%;
}

.buttonLogin {
    background-color: black;
    color: white;
    width: 26%;
    height: 80%;
    font-size: 12px;
    
}
    .buttonLogin:hover {
        cursor: pointer;
        background-color: #454545;
    }

.lblTitle {
    font-size:18px;
    font-weight:bold;
    text-decoration:underline;
}
.lblActivityCalories {
    padding-left:1%;
    
}

@media only screen and (min-width :1250px) {
    #resultContainer {
        height: 280px;
    }
}
