.tableThreeContainer{
    width:100%;
}

.tableThreeContainer td{
    width :33%;
}



.blackContainer{
    background-color : black;
    color:white;
    text-align:center;
}

.whiteContainer {
    background-color: white;
    text-align: center;
    color:black
}


.btnContainer {
  width:70%;
  height:30px;
  margin-bottom:10px;

}
.container{
    margin-bottom:150px
}

.description{
    padding:5px;
}

@media only screen and (min-width :700px) {
    .btnContainer {
        height: 50px;
    }

    .container{
        margin-bottom:400px
    }

}

@media only screen and (min-width :1000px) {
    .btnContainer {
        height: 70px;
    }

    .container {
        margin-bottom: 500px
    }
}

@media only screen and (min-width :1100px) {

    .container {
        margin-bottom: 600px
    }
}

@media only screen and (min-width :1710px) {

    .container {
        margin-bottom: 800px
    }

}

@media only screen and (min-width :1900px) {

    .container {
        margin-bottom: 1000px
    }
}
