.tableThreeContainer{
    width:80%;
    margin:0 auto 100px auto
}

.tableThreeContainer td{
    width :33%;
    padding-right:5%
}

body {
    background-color:white;
}

.blackContainer{
    background-color : black;
    color:white;
    text-align:center;
}

.whiteContainer {
    background-color: white;
    text-align: center;
    color:black
}

.btnContainer:hover {
    background-color: #454545;
}

.btnContainer {
    width: 70%;
    height: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
    background-color: black;
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size:10px;
}
.container{
    margin-bottom:150px
}

.description{
    padding:5px;
}

@media only screen and (min-width :700px) {
    .btnContainer {
        height: 50px;
        font-size: 12px;
    }

}

@media only screen and (min-width :1000px) {
    .btnContainer {
        height: 70px;
        font-size: 13px;
    }
}

