

.table td {

    height: 250px;
}

.table {
    width: 70%;
    margin: 0 auto 0 auto;
}

.radio-container {
    font-size: 15px;
    padding-left: 5px;
}

input[type="radio"] {
    display: none;
}

label {
    position: relative;
    cursor: pointer;
    font-weight: bold;
    padding-right: 2%;
}

    label:nth-last-child(1) {
        padding-right: 0;
    }

    label::before {
        content: "";
        border: 2px solid #222;
        display: inline-block;
        width: 15px;
        height: 15px;
        margin: -4px 1%;
        margin-left: 0;
        border-radius: 50%;
    }

    label::after {
        content: "";
        display: inline-block;
        position: absolute;
        width: 10px;
        height: 10px;
        background: rgba(34, 34, 34, 0);
        left: 4.5px;
        top: 11.5px;
        margin: -5.5px 20px;
        margin-left: 0;
        border-radius: 50%;
        transition: all 0.4s;
    }

input[type="radio"]:checked + label::after {
    background: rgba(34, 34, 34, 1);
}

/*star*/
.results {
    font-size: 0;
    padding-bottom: 16px;
}

.results-content {
    font-size: 13px;
    display: inline-block;
    vertical-align: top;
    background: url('https://i.stack.imgur.com/rwkqF.png') 0 0 repeat-x;
    width: 185px;
    height: 35px;
}


.results .results-content span.stars span {
    background: url('https://i.stack.imgur.com/rwkqF.png') 0 -36px repeat-x;
    display: inline-block;
    height: 35px;
}

.results-contentA {
    font-size: 13px;
    display: inline-block;
    vertical-align: top;
    background: url('https://i.stack.imgur.com/rwkqF.png') 0 0 repeat-x;
    width: 185px;
    height: 35px;
}


.results .results-contentA span.starsA span {
    background: url('https://i.stack.imgur.com/rwkqF.png') 0 -36px repeat-x;
    display: inline-block;
    height: 35px;
}


.googleMapCss {
    width: 100%;
    height: 100%;
    margin: 0 auto 0 auto;
    border: 5px inset lightgray;
}

.googleMapSection {
    background: #e5ebf4;
    margin: -57px -0.55% 0px -0.55%;
}

.googleMapHeader {
    text-align: center;
    height: 55px;
    padding-top: 30px;
}


.autoCompleteResult {
    padding-left: 0%;
}

.searchedResults {
    display: none;
}

.navigateButton:hover {
    background-color: darkslateblue
}

.navigateButton {
    background-color: #1c87c9;
    border: none;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-top: 5px;
    cursor: pointer;
}

.autoInput {
    height: 75px;
    width:100%;

}
.topTable {
    width: 70%;
    margin: 0 auto 0 auto;
}

    .topTable td {
        
        height: 75px;
    }



.table td, th {
    vertical-align: top;
}

.main {
    position: relative;
    display: none;
}


#slider {
    height: 7px;
    width: 100%;
    -webkit-appearance: none;
    outline: none;
    border-radius: 3px;
    background-color: lightgray;
    position: relative;
}

    #slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 48px;
        height: 48px;
        cursor: pointer;
        z-index: 2;
        position: relative;
    }


#selector {
    height: 104px;
    width: 48px;
    position: absolute;
    bottom: -14px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

#selectBtn {
    height: 48px;
    width: 48px;
    background-image: url(https://i.pinimg.com/originals/3f/3d/d9/3f3dd9219f7bb1c9617cf4f154b70383.jpg);
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    background-position: center;
    bottom: 0;
}

#selectValue {
    width: 48px;
    height: 40px;
    position: absolute;
    top: 0;
    background-color: black;
    border-radius: 4px;
    text-align: center;
    font-size: 12.5px;
    line-height: 45px;
    font-weight: bold;
    color: white;
}

    #selectValue::after {
        content: '';
        border-top: 17px solid black;
        border-left: 24px solid #e5ebf4;
        border-right: 24px solid #e5ebf4;
        position: absolute;
        bottom: -15px;
        left: 0;
    }

#progressBar {
    width: 50%;
    height: 7px;
    background: black;
    position: absolute;
    border-radius: 3px;
    bottom: 6.3px;
    left: 2px;
}

.weatherSection {
    background-color: #282828;
    margin: 0px -0.55% 0px -0.55%;
    color: lightgray;
    margin-top: -20px;
}

.weatherHeader {
    text-align: center;
    height: 60px;
    padding-top: 55px;
    padding-bottom: 50px;
}

.container {
    width: 100%;
    height: 300px;
    background-color: #FFF;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    padding-bottom: 50px;
}

.app-title {
    height: 50px;
    border-radius: 10px 10px 0 0;
}

    .app-title p {
        text-align: center;
        padding: 15px;
        margin: 0 auto;
        font-size: 1.2em;
        color: #293251;
    }

.notification {
    background-color: #f8d7da;
    display: none;
}

    .notification p {
        color: #721c24;
        font-size: 1.2em;
        margin: 0;
        text-align: center;
        padding: 10px 0;
    }

.weather-container {
    height: 260px;
    background-color: #F4F9FF;
}

.weather-icon {
    height: 128px;
}

    .weather-icon img {
        display: block;
        margin: 0 auto;
    }

.temperature-value {
    height: 60px;
}

    .temperature-value p {
        padding: 0;
        margin: 0;
        color: #293251;
        font-size: 4em;
        text-align: center;
        cursor: pointer;
    }

        .temperature-value p:hover {
        }

    .temperature-value span {
        color: #293251;
        font-size: 0.5em;
    }

.temperature-description {
}

    .temperature-description p {
        padding: 8px;
        margin: 0;
        color: #293251;
        text-align: center;
        font-size: 1.2em;
    }

#weatherInfo {
    padding-left: 1%;
}

.location {
}

    .location p {
        margin: 0;
        padding: 0;
        color: #293251;
        text-align: center;
        font-size: 0.8em;
    }
