

/* Create two equal columns that floats next to each other */
.column {
    width: 50%;
    height: 300px; /* Should be removed. Only for demonstration */
    box-sizing: border-box;
    text-align: center;
    margin: 0px auto 0px auto;
}
.column h2{
    text-align:center;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    box-sizing: border-box;
    clear: both;
}
