/*variable*/
:root{
    --menuSpeed :0.75s;
    --overlayColor : rgba(24,39,51,0.85);
}


.footer {
    margin: 0px -8px -8px -8px;
    padding: 1% 5% 1% 5%;
    background-color: black;
    color:white;
    bottom:0;
}

.pageContent{
    padding-top:150px
}

.logInLink{
    float :right;
    color:white;
    padding-top:10px;
    padding-right:15px;
}

body {
    font-family :Arial;
    line-height: 1.4;
}


.header {
    background-color: black;
    margin: -8px -8px 0px -8px;
    height: 130px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;
}

.menuBar a:hover{
    background-color:gray;
}


.menuBar {
    display: none;

}

img{
    width:130px;
    height:130px;
}


.imgBurgerMenu{
    padding : 20px;    
}

/*Hamburger menu*/

.menuWrap{
    position: fixed;
    top : 23px;
    right:0;
}

.menuWrap .toggler{
    position :absolute;
    top :0;
    right:0;
    cursor: pointer;
    width : 50px;
    z-index:4;
    height: 50px;
    opacity:0;
}

.menuWrap .hamburger{
    position: absolute;
    top : 0;
    right: 0;
    width: 50px;
    height: 50px;
    padding : 1rem;
    background : black;
    display : flex;
    align-items: center;
    justify-content: center;
}

/* Hamburger Line*/
/*Target the division inside hamburger class*/
/*middle line*/
.menuWrap .hamburger > div{
    position: relative;
    width:100%;
    height :3px;
    background-color: white;
    display: flex;
    align-items : center;
    justify-content: center;
    transition:all 0.4s ease;
}

/*top and btm*/
.menuWrap .hamburger > div:before,
.menuWrap .hamburger > div:after{
    content: '';
    position: absolute;
    top:-10px;
    width: 100%;
    height: 3px;
    background: inherit; 
}

/*Overide the btm line position*/
.menuWrap .hamburger > div:after{
    top : 10px;
}

/*Toggler animation*/

.menuWrap .toggler:checked + .hamburger > div{
    transform: rotate(135deg);

}

/*Turn Lines into X*/
.menuWrap .toggler:checked + .hamburger > div:before,
.menuWrap .toggler:checked + .hamburger > div:after{
    top :0;
    transform : rotate(90deg);
}


/*Rotate on hover when checked*/
.menuWrap .toggler:checked:hover + .hamburger > div{
    transform : rotate(225deg);
}

/*show menu*/
.menuWrap .toggler:checked ~ .menu{
    visibility : visible;
}

.menuWrap .toggler:checked ~ .menu > div{
    transform : scale(1);
    transition-duration: var(--menuSpeed);
}

.menuWrap .toggler:checked ~ .menu > div > div{
    opacity : 1;
    transition: opacity 0.4s ease;
}

.menuWrap .menu{
    position : fixed;
    top : 0;
    right : 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display : flex;
    align-items: center;
    justify-content : center;
}

.menuWrap .menu > div{
    background : var(--overlayColor);
    border-radius : 50%;
    width : 200vw;
    height : 200vh;
    display : flex;
    flex : none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition : all 0.4s ease;
}

.menuWrap .menu > div > div{
    text-align : center;
    max-height: 100vh;
    max-width: 90vw;
    opacity:0;
    transition: opacity 0.4s ease;

}

.menuWrap .menu > div > div > ul > li{
    list-style : none;
    color : white;
    font-size: 1.5rem;
    padding : 1rem;
}

.menuWrap .menu > div > div > ul > li > a {
    color : inherit;
    text-decoration: none;
    transition : color 0.4s ease;
}

    @media only screen and (min-width :950px) {
        .menuWrap{
        display : none;
    }

    .menuBar {
        width: 75%;
        display: block;
        float:right;
        padding-top:60px
    }

    .menuBar a {
        border-radius: 15px; 
        padding: 20px;
        color : lightgray;
        font-family: Arial;
        font-size :17px;
    }

}

