.rowInput {
    height: 80px
}
.text {
    width: 40%;
    text-align: right;
}
    .rowInput input {
        border: none;
        border-bottom: 1px solid black;
        width: 35%;
        height: 30px
    }

.inputBox {
    background: #e5ebf4;
}

.buttonLogin {
    background-color: black;
    color: white;
    width: 20%;
    height: 80%;
    font-size: 18px;
}

    .buttonLogin:hover {
        background-color: #454545;
    }

.ddlGender {
    width:35%;
    height:30px
}

.rowButtonLogin {
    text-align: center;
    height: 50px;
}
.linkForgetPassword {
    text-align: right
}

.rowLink {
    height: 50px;
}