body {
}

.title{
    text-align:center;
    font-size:25px
}

.list {
    Height: 25px;
    Width:255px;
    margin-left:30px
}

.table {
    width: 50%;
    margin-left: 25%;
    border: 1px solid black;
    border-collapse: collapse;
   
}

.table td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px
}

.btn {
    padding: 2px 5px;
    border: 0;
    border-radius: 0.1875em;
    background-color: #000000;
    box-shadow: none;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    white-space: nowrap;
    cursor: pointer;
}

td.btnAlign{
    text-align:center;
}
